
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/matrix calculator.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml
*.pyc
*.pyc
*.pyc
operations/__pycache__/Bisection.cpython-39.pyc
operations/__pycache__/FixedPoint.cpython-39.pyc
operations/__pycache__/GaussElimination.cpython-39.pyc
operations/__pycache__/GaussJordan.cpython-39.pyc
operations/__pycache__/GaussSeidel.cpython-39.pyc
operations/__pycache__/Jacobi.cpython-39.pyc
operations/__pycache__/LUdecomposition.cpython-39.pyc
operations/__pycache__/NewtonRaphson.cpython-39.pyc
operations/__pycache__/RegulaFalsi.cpython-39.pyc
operations/__pycache__/secant.cpython-39.pyc
operations/__pycache__/solver.cpython-39.pyc
operations/__pycache__/solver.cpython-39.pyc
operations/__pycache__/secant.cpython-39.pyc
operations/__pycache__/RegulaFalsi.cpython-39.pyc
operations/__pycache__/NewtonRaphson.cpython-39.pyc
operations/__pycache__/LUdecomposition.cpython-39.pyc
operations/__pycache__/Jacobi.cpython-39.pyc
operations/__pycache__/GaussSeidel.cpython-39.pyc
operations/__pycache__/GaussJordan.cpython-39.pyc
operations/__pycache__/GaussElimination.cpython-39.pyc
operations/__pycache__/FixedPoint.cpython-39.pyc
operations/__pycache__/Bisection.cpython-39.pyc
